<app-nav>
</app-nav>

<sky-fluid-grid>
  <sky-row>
    <h3>User Details</h3>
  </sky-row>
  <sky-row>
    <sky-column screenSmall="6">
      <div>
        <sky-ag-grid-wrapper>
          <ag-grid-angular [gridOptions]="gridOptions" [rowData]="gridD">
          </ag-grid-angular>
        </sky-ag-grid-wrapper>
      </div>
    </sky-column>
  </sky-row>
</sky-fluid-grid>


<!-- 
        <div class='table-responsive'>  
          <table class='table'>  
              <thead>  
                  <tr>  
                      <th>Name</th>  
                      <th>Contact</th>  
                      <th>Email</th>  
                      <th>DOB</th> 
                      <th>Address</th> 
                  </tr>  
              </thead>  
              <tbody>  
                  <tr *ngFor="let user of userList;">  
                      <td>{{user.firstname+" "+user.lastname}}</td>  
                      <td>{{user.contact}}</td>  
                      <td>{{user.email}}</td>  
                      <td>{{user.dob}}</td>  
                      <td>{{user.address}}</td>  
                  </tr>  
              </tbody>  
          </table>  
      </div>  

      <sky-ag-grid-wrapper>
        <ag-grid-angular [gridOptions]="gridOptions" [rowData]="gridData">
        </ag-grid-angular>
      </sky-ag-grid-wrapper>

 -->
