<app-nav>
</app-nav>

<sky-fluid-grid>
  <sky-row>
    <h3 style="margin-left: 10px;">User Details</h3>
  </sky-row>
  <sky-row>
    <sky-column>
      <div>
        <sky-ag-grid-wrapper>
          <ag-grid-angular [gridOptions]="gridOptions" 
          [rowData]="gridD" 
          (cellClicked)="onCellClicked($event)">
          </ag-grid-angular>
        </sky-ag-grid-wrapper>
      </div>
      <div class="center">
        <button class="sky-btn sky-btn-primary" routerLink="add-details" >Add New User</button>
      </div>   
    </sky-column>
  </sky-row>
</sky-fluid-grid>

<!-- <sky-modal>
  <sky-modal-header>
    Modal title
  </sky-modal-header>
  <sky-modal-content>
    <sky-input-box>
      <label
        class="sky-control-label"
        [for]="myInput.id"
      >
        An input inside a modal
      </label>
      <input
        class="sky-form-control"
        type="text"
        skyId
        #myInput="skyId"
      >
    </sky-input-box>
  </sky-modal-content>
  <sky-modal-footer>
    <button
      class="sky-btn sky-btn-primary sky-margin-inline-compact"
      type="button"
      (click)="instance.save()"
    >
      Save
    </button>
    <button
      class="sky-btn sky-btn-link"
      type="button"
      (click)="instance.close()"
      
    >
      Close
    </button>
  </sky-modal-footer>
</sky-modal> -->

<!-- 
        <div class='table-responsive'>  
          <table class='table'>  
              <thead>  
                  <tr>  
                      <th>Name</th>  
                      <th>Contact</th>  
                      <th>Email</th>  
                      <th>DOB</th> 
                      <th>Address</th> 
                  </tr>  
              </thead>  
              <tbody>  
                  <tr *ngFor="let user of userList;">  
                      <td>{{user.firstname+" "+user.lastname}}</td>  
                      <td>{{user.contact}}</td>  
                      <td>{{user.email}}</td>  
                      <td>{{user.dob}}</td>  
                      <td>{{user.address}}</td>  
                  </tr>  
              </tbody>  
          </table>  
      </div>  

      <sky-ag-grid-wrapper>
        <ag-grid-angular [gridOptions]="gridOptions" [rowData]="gridData">
        </ag-grid-angular>
      </sky-ag-grid-wrapper>

 -->
