<app-nav>
</app-nav>

<div style="width: 70%">
  <sky-ag-grid-wrapper>
    <ag-grid-angular [gridOptions]="gridOptions" [rowData]="gridData">
    </ag-grid-angular>
  </sky-ag-grid-wrapper>
</div>

<!-- 
        <div class='table-responsive'>  
          <table class='table'>  
              <thead>  
                  <tr>  
                      <th>Name</th>  
                      <th>Contact</th>  
                      <th>Email</th>  
                      <th>DOB</th> 
                      <th>Address</th> 
                  </tr>  
              </thead>  
              <tbody>  
                  <tr *ngFor="let user of userList;">  
                      <td>{{user.firstname+" "+user.lastname}}</td>  
                      <td>{{user.contact}}</td>  
                      <td>{{user.email}}</td>  
                      <td>{{user.dob}}</td>  
                      <td>{{user.address}}</td>  
                  </tr>  
              </tbody>  
          </table>  
      </div>  

      <sky-ag-grid-wrapper>
        <ag-grid-angular [gridOptions]="gridOptions" [rowData]="gridData">
        </ag-grid-angular>
      </sky-ag-grid-wrapper>

 -->
